@import "smart-grid.scss";
//@import "fa/font-awesome";
@import "fa/fontawesome";
@import "fa/fa-regular.scss";
@import "fa/fa-brands.scss";
@import "fa/fa-solid.scss";
@import "vendor/slick.scss";
@import "vendor/slick-theme.scss";
@import "vendor/animate.scss";
@include reset();

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Black.otf') format("opentype");
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg'),
  url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Roman.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
html, body{
  font-family: 'HelveticaNeue', sans-serif;
  overflow-x: hidden;
}
header{
  @include wrapper();
  box-sizing: border-box;
  height: 113px;
  @include sm(height, unset);
  display: flex;
  @include flex-direction-sm(column);
  justify-content: space-between;
  align-items: center;
  a.logo{
    margin-left: 9px;
    margin-top: -10px;
    @include sm(margin-top, 5px);
    @include sm(margin-left, 0);
    @include align-self-sm(flex-start);
    @include size(3);
    @include size-sm(6);
    @include sm(position, fixed);
    z-index: 51;
  }
  .logo{
    height: 70px;
    display: inline-block;

    @include sm(height, 50px);
  }
  .button_nav{
    display: none;
    @include sm(display, block);
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 15px;
    padding-top: 20px;
    width: 100%;
    text-align: right;
    z-index: 50;
    height: 45px;
    background: #fff;
  }
  nav{
    display: flex;
    justify-content: space-between;
    //@include size(10);
    @include flex-direction-sm(column);
    @include sm(text-align, right);
    @include sm(position, fixed);
    @include sm(top, 65px);
    @include sm(right, 15px);
    @include sm(background,#fff);
    @include sm(border, 1px solid #ddd);
    //@include align-items(flex-end);
    @include sm(display, none);
    @include sm(opacity, 0);
    transition: all 0.5s ease-in-out;
    z-index: 50;
    &.open{
      display: flex;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    a{
      margin-right: 42px;
      @include sm(text-align, right);
      @include sm(margin-right, 0);
      @include sm(font-size, 15px);
      @include sm(border, 1px solid #ddd);
      text-transform: uppercase;
      text-decoration: none;
      color: #1a1a18;
      @include sm(font-size, 22px);
      @include sm(padding, 5px);
      &:hover{
        color: #5591c6;
      }
    }
  }
  .contacts{
    @include size(3);
    @include size-sm(12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 75%;
    @include sm(margin-top, 70px);
    p.phone{
      width: 100%;
      @include sm(width, 250px);
      a{
        margin-left: 0px;
      }
    }
    a, p{
      display: block;
      margin-left: 40px;
      @include sm(margin, 5px 15%);
      letter-spacing: 0.01em;
      font-size: 16px;
      font-weight: bold;
      color: #5591c6;
      text-decoration: none;
      .fa-phone {
        transform: scaleX(-1);
        float: left;
        padding-top: 12px;
        @include sm(padding, 12px 0);
      }
      i{
        margin-right: 15px;
        color: #a51460;
      }
      p{
        display: inline-block;
        margin: 2px 0;
      }
    }
  }
}
.bigPictureBlock{
  /*height: 763px;*/
  @include sm(height, unset);
  @include sm(padding-bottom, 30px);
  background: url("../img/bigPictureBlock_bg.png") center center / cover;
  @include sm(background, none);
  position: relative;
  .bg_opasity{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bigPictureBlock_blue_opasity.png") center center / cover;
    opacity: 0.9;
    @include sm(background, rgba(85,145,198, 0.9));
  }
  .circle{
    background: url("../img/circles.png") no-repeat center center / contain;
    width: 23%;
    height: 65%;
    position: absolute;
    right: 5%;
    top:5.5%;
    &.sm{
      background: none;
      position: relative;
      width: 50%;
      margin: 0 auto;
      right: unset;
      top: unset;
    }
  }
  .sometext{
    position: absolute;
    right: 5vw;
    top:73%;
    font-size: 19px;
    letter-spacing: 0.01em;
    color: #fff;
    font-weight: bold;
    width: 40%;
    &.sm{
      position: relative;
      right: unset;
      top: unset;
      margin: 0 15px;
      width: unset;
    }
    p {
      display: table;
      &.blue {
        background: #5591c6;
        padding: 7px;
      }
      &.white {
        background: #fff;
        padding: 7px;
        color: #a51460;
      }
    }
  }
  &_title{
    font-size: 60px;
    @include sm(font-size, 24px);
    @include wrapper();
    position: relative;
    z-index: 2;
    padding-top: 110px;
    @include sm(padding-top, 32px);
    text-transform: uppercase;
    h1{
      font-weight: 900;
      margin-left: 8px;
      //margin-bottom: 4px;
      letter-spacing: 0.005em;
      color: #fff;
      line-height: 72px;
      @include sm(line-height, 28px);
      span{
        color: #a51460;
      }
    }

  }
  &_text{
    @include wrapper();
    position: relative;
    z-index: 2;
    color: #fff;
    .content{
      @include size(6.5);
      @include size-sm(12);
      //border-left: 2px solid #fff;
      margin: 48px 15px 10px 15px;
      @include sm(margin, 27px auto 27px 15px);
      padding: 9px 0 9px 0;
      @include sm(padding, 9px 0 9px 0px);
      box-sizing: border-box;
      p{
        letter-spacing: 0.005em;
        font-size: 22px;
        line-height: 28px;
        /*font-size: 28px;*/
        @include sm(font-size, 18px);
        /*line-height: 34px;*/
        @include sm(line-height, 24px);
        font-weight: bold;
        margin-bottom: 35px;
        clear: left;
        .date{
          color: #a51460;
        }
        &:first-letter{
          font-size: 72px;
          @include sm(font-size, 40px);
          float: left;
          line-height: 120px;
          color: #a51460;
          padding-right: 15px;
          @include sm(padding-right, 7px);
          @include sm(margin-right, 15px);
          border-right: 2px solid #fff;
          margin-right: 30px;

        }
      }
    }
  }
  &_button{
    position: relative;
    z-index: 2;
    color: #fff;
    @include wrapper();
    margin-top: 10px;
    top: -50px;
    @include sm(top, unset);
    display: flex;
    button{
      background: #d3801f;
      text-transform: uppercase;
      border: none;
      font-size: 18px;
      color: #fff;
      padding: 14px 58px;
      display: inline-block;
      margin-left: 22px;
      &:hover{
        background: #d38f44;
      }
      @include sm(margin, 0 auto);
    }
    .one_col{
      margin-left: 17px;
      letter-spacing: 0.005em;
      margin-top: 6px;
      p{
        font-size: 14px;
        line-height: 20px;
        &:nth-child(2){
          font-size: 16px;
        }
      }
    }
  }
}
.block_with_video{
  @include wrapper();
  h1{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 72px;
    color: #5591c6;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 13px;
    @include sm(margin-top, 30px);
    @include sm(line-height, 50px);
  }
  p{

    font-size: 22px;
    line-height: 24px;
    color: #5792c7;
    font-weight: 700;
    letter-spacing: .01em;
    margin-bottom: 50px;
    @include sm(margin-bottom, 10px);
  }
  .video_block{
    display: flex;
    //@include size(4);
    height: 16vw;
    @include sm(height, unset);
    flex-direction: row;
    @include flex-direction-sm(column);
    justify-content: space-around;
    align-items: center;
  }
  .video{
    position: relative;
    width: 30%;
    @include size-sm(12);
    @include sm(margin-top, 15px);
    @include sm(height, 48vw);
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .puzzle1{
    position: absolute;
    bottom: -70px;
    right: -70px;
    z-index: -1;
    width: 50%;
  }
  .puzzle2{
    position: absolute;
    top: -70px;
    left: -70px;
    z-index: -1;
    width: 50%;
  }
}
.information{
  @include wrapper();
  position: relative;
  z-index: 3;
  display: flex;
  /*height: 233px;*/
  @include sm(height, unset);
  margin-top: -45px;
  @include sm( margin-top, -15px);
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
  @include flex-direction-sm(column);
  @include align-items-sm(center);
  .blocks{
    width: 25%;
    @include size-sm(12);
    padding: 30px 20px 20px 20px;
    @include sm(padding, unset);
    text-align: center;
    @include sm(text-align, left);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    @include sm(line-height, 16px);
    letter-spacing: 0.005em;
    position: relative;
    overflow: hidden;
    @include sm( position, relative);
    @include sm( display, flex);
    @include sm( flex-direction, column);
    @include sm( height, 76px);
    @include sm( justify-content, center);
    p{
      @include sm(margin-left, 90px);
    }
    img{
      margin-bottom: 14px;
      @include sm(width, 45px);
      @include sm(height, 45px);
      @include sm(position, absolute);
      @include sm(top, 0);
      @include sm(margin, 15px 25px 15px 30px);
    }
    .puzzle{
      height: 150px;
      width: 150px;
      background: url("../img/puzzle.svg");
      background-size: cover;
      opacity: 0.05;
      position: absolute;
    }
  }
  .blocks:nth-child(1){
    background: #a8ba4f;
    font-size: 18px;
    img{
      width: 78px;
      @include sm(width, 45px);
      margin-left: 3px;
      margin-top: 3px;
      margin-bottom: 23px;
      @include sm(margin, 15px 25px 15px 30px);
    }
    .puzzle{
      bottom: -50px;
      left: -38px;
    }
  }
  .blocks:nth-child(2){
    background: #5591c6;
    img{
      width: 94px;
      @include sm(width, 45px);
      @include sm(margin, 15px 25px 15px 30px);
    }
    .puzzle{
      transform: scale(-1, 1);
      top: -41px;
      right: -40px;
    }
  }
  .blocks:nth-child(3){
    background: #d3801f;
    img{
      width: 92px;
      @include sm(width, 45px);
      margin-left: 3px;
      margin-top: 2px;
      @include sm(margin, 15px 25px 15px 30px);
    }
    .puzzle{
      transform: scale(-1, 1);
      bottom: -36px;
      right: -50px;
    }
  }
  .blocks:nth-child(4){
    background: #a51460;
    img{
      width: 96px;
      @include sm(width, 45px);
      margin-top: 5px;
      margin-bottom: 20px;
      @include sm(margin, 15px 25px 15px 30px);
    }
    .puzzle{
      top: -56px;
      left: -33px;
    }
  }
}
.program{
  @include wrapper();
  margin-top: 50px;
  @include sm(margin-top, 5px);
  //margin-bottom: 100px;
  //@include sm(margin-bottom, 40px);
  @include sm(padding-bottom, 0);

  //background: url("../img/line.png") no-repeat;
  @include sm(background, none);
  background-position-y: 100px;
  background-position-x: center;
  h1{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 72px;
    color: #5591c6;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
  .buttons{
    text-align: center;
  }
  h3{
    display: inline-block;
    text-align: center;
    //padding: 36px 40px 20px 15px;
    line-height: 80px;
    font-size: 22px;
    @include sm(font-size, 14px);
    font-weight: 900;
    height: 77px;
    width: 186px;
    @include sm(width, 30%);
    margin: 0 -5px;
    letter-spacing: 0.015em;
    span{
      font-size: 30px;
    }
    &:nth-child(1){
      background: url("../img/puzzle1Off.png") no-repeat;
      background-size: contain;
      background-position: center;
      color: #a51460;
      &.active{
        background: url("../img/puzzle1On.png") no-repeat;
        color: #fff;
        background-size: contain;
        background-position: center;
      }
    }
    &:nth-child(2){
      background: url("../img/puzzle2Off.png") no-repeat;
      background-size: contain;
      background-position: center;
      color: #5591c6;
      &.active{
        background: url("../img/puzzle2On.png") no-repeat;
        color: #fff;
        background-size: contain;
        background-position: center;
      }
    }
  }
  .line{
    width: 320px;
    @include sm(width, 50%);
    height: 9px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    margin: 20px auto;
    .back{
      width: 49%;
      float: right;
      height: 100%;
      border-radius: 10px;
      background: #5591c6;
    }
    &.act{
      .back{
        background: #a51460;
        float: left;
      }
    }
  }
  .some_text{
    @include size(12);
    font-size: 22px;
    line-height: 24px;
    color: #5792c7;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
    @include sm(font-size, 12px);
    @include sm(line-height, 14px);
    @include sm(font-weight, normal);
    h5{
      font-size: 16px;
    }
    span{
      color: #a51460;
    }
  }
  .wrapper_block{
    width: 100%;
    font-size: 17px;
    @include sm(font-size, 14px);
    color: #222222;
    line-height: 20px;
    letter-spacing: 0.01em;
    display: none;
    &.active{
      display: flex;
    }
    flex-direction: column;
    flex-wrap: wrap;
    //justify-content: center;
    padding-top: 5px;
    position: relative;
    .one_program{
      @include size(12);
      background: url("../img/line1.png") no-repeat 100%;
      background-position-x: calc(30% - 30px);
      @include sm(background-position-x, calc(36.5%));
      justify-content: flex-end;
      display: flex;
      align-items: center;
      padding: 10px 0;
      @include sm(padding, 5px 0);
      .num_block{
        width: 10%;
        text-align: center;
      }
      .time{
        @include size(3);
        @include size-sm(5);
        text-align: right;
        @include sm(text-align, center);
        @include sm(font-size, 11px);
      }
      .num{
        width: 44px;
        height: 44px;
        @include sm(width, 30px);
        @include sm(height, 30px);
        display: inline-block;

        border-radius: 30px;
        color: #fff;
        text-align: center;
        line-height: 44px;
        @include sm(line-height, 30px);
        font-size: 26px;
        @include sm(font-size, 16px);
        font-weight: 900;
        //margin-left: 39px;
        //@include sm(margin-left, 0);
        @include sm(margin-right, 15px);
        @include align-self-sm(flex-start);
      }
      p{
        width: 60%;
        @include sm(font-size, 11px);
        //@include size-sm(10);
        //width: calc(85.33333% - 30px);
        @include sm(margin-left, 5px);
        letter-spacing: 0.005em;
        color: #222222;
      }
      &:nth-child(2n+1){
        text-align: left;
        @include sm(text-align, left);
        //flex-direction: row-reverse;
        @include flex-direction-sm(row);
        justify-content: flex-start;
        @include justify-content-sm(flex-start);
        .num{
          background: #d3801f;
          //margin-left: 27px;
          @include sm(margin-left, 0);
          //@include sm(margin-right, 15px);
        }
      }
      &:nth-child(2n){
        //text-align: right;
        //margin-bottom: 14px;
        justify-content: flex-start;
        align-items: center;
        //position: relative;
        //top: 46px;
        @include sm(top, 0);
        .time{
          @include size(3);
          @include size-sm(5);
          text-align: right;
          @include sm(text-align, center);
        }
        .num{
          //margin-right: 30px;
          background: #5591c6;
          @include sm(margin-right, 15px);
        }
      }
      &:nth-child(4n-1){
        .num {
          background: #a8ba4f;
        }
      }
      &:nth-child(4n){
        .num {
          background: #a51460;
        }
      }
    }
    .download{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 15px;
      a{
        display: inline-block;
        background: #5591c6;
        padding: 15px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.registration1, .registration2{
  background: url("../img/reg1bg.jpg") center center / cover;
  height: 250px;
  width: 100%;
  @include sm(height, unset);
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  .bg{
    background: url("../img/registration1_bg.png") center center / cover;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  h1{
    color: #fff;
    font-weight: 900;
    font-size: 36px;
    @include sm(font-size, 18px);
    @include sm(line-height, 24px);
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    margin-top: 33px;
    position: relative;
    z-index: 5;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    z-index: 5;
  }
  button{
    background: #a8ba4f;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 14px 58px;
    display: block;
    margin: 45px 30px;
    &:hover{
      background: #96ba0a;
    }
  }
  img:nth-child(1){
    transform: scale(-1 , 1);
  }
}
.registration2{
  background: url("../img/reg2bg.jpg") center center / cover;
  margin-top: 100px;
  @include sm(margin-top, 60px);
  .bg{
    background: url("../img/registration2_bg.png") center center / cover;
  }
}
.speakers{
  @include wrapper();
  margin: 72px auto 0 auto;
  @include sm(margin, 30px auto 0 auto);

  h1{
    color: #5591c6;
    font-weight: 900;
    font-size: 36px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .speaker{
    display: flex;
    padding-bottom: 115px;
    @include sm(padding-bottom, 50px);
    @include flex-direction-sm(column);
    @include wrapper();
    @include align-items-sm(center);
    .img{
      width: calc(33.33333% - 20px);
      @include size-sm(12);
      position: relative;
      align-self: flex-start;
      text-align: center;
      @include align-self-sm(center);
      .puzzle1{
        position: absolute;
        bottom: -100px;
        right: -99px;
        z-index: -1;
      }
      .puzzle2{
        position: absolute;
        top: -93px;
        left: -99px;
        z-index: -1;
      }
      .puzzle3{
        position: absolute;
        bottom: -100px;
        left: -99px;
        z-index: -1;
      }
      .puzzle4{
        position: absolute;
        top: -93px;
        right: -99px;
        z-index: -1;
      }
      .puzzle5{
        position: absolute;
        bottom: -100px;
        right: -99px;
        z-index: -1;
      }
      .puzzle6{
        position: absolute;
        top: -93px;
        left: -99px;
        z-index: -1;
      }
      button{
        background: #a8ba4f;
        text-transform: uppercase;
        border: none;
        font-size: 18px;
        color: #fff;
        padding: 14px 58px;
        display: block;
        margin: 20px auto 0;
        &:hover{
          background: #96ba0a;
        }
      }
    }
    .text{
      //@include size(8);
      width: 66.66667%;
      margin-left: 30px;

      @include sm(margin-left, unset);
      @include size-sm(12);
    }
    .name{
      font-size: 18px;;
      line-height: 24px;
      font-weight: bold;
      color: #a51460;
      margin-top: 46px;
      letter-spacing: 0.015em;
      padding-bottom: 9px;
      @include sm(text-align, center);
      //@include size-sm(12);

    }
    .svg{
      margin-left: 43px;
      @include sm(text-align, center);
      @include sm(margin-left, 0);
    }
    .description{
      color: #222222;
      font-size: 12px;
      line-height: 24px;
      @include sm(line-height, 16px);
      margin-left: calc(11.66667% + 2px);
      @include sm(margin-left, 0);
      margin-top: 16px;
      letter-spacing: 0.015em;
      text-align: justify;
    }
    &:nth-child(3){
      flex-direction: row-reverse;
      @include flex-direction-sm(column);
      text-align: right;
      @include sm(text-align, left);
      padding-bottom: 140px;
      @include sm(padding-bottom, 50px);
      .name{
        margin-top: 22px;
      }
      .text{
        margin-right: 30px;
        margin-left: 0;
        @include sm(margin-right, unset);
        @include size-sm(12);
      }
      .description{
        margin-right: calc(11.66667% + 2px);
        margin-left: 0;
        text-align: justify;
        @include sm(line-height, 16px);
        @include sm(margin-right, 0);
      }
      .svg{
        margin-right: 43px;
        @include sm(text-align, center);
        @include sm(margin-left, 0);
        @include sm(margin-right, 0);
      }
    }
  }
}
.partners{
  //margin-top: 65px;
  margin-bottom: 65px;
  @include sm(margin-bottom, 30px);
  h1{
    color: #5591c6;
    font-weight: 900;
    font-size: 36px;
    @include sm(font-size, 24px);
    line-height: 72px;
    @include sm(line-height, 30px);
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 60px;
    @include sm(margin-bottom, 30px);
  }

  .partners_block, .partners_block1{
    @include wrapper();
    height: 130px;
    display: flex;
    justify-content: space-around;
    .partner{
      //@include size(3);
      //@include size-sm(9);
      height: 100%;
      //height: 133px;
      a{
        @include size-sm(9);
        display: block;
        margin: 0 auto;
        height: 130px;
        text-align: center;
      }
      img{
        height: 130px;
        margin: 0 auto;
      }
    }
  }
  &#partnerr{
    h1 {
      margin: 0;
    }
  }
    .partners_block1 {
      height: unset;
      @include flex-wrap-sm(wrap);
      .partner {
        @include size(4);
        @include size-sm(12);
        margin: 15px 0;
        img {
          height: unset;
          width: 100%;
        }
      }
    }

}
footer{
  @include wrapper();
  box-sizing: border-box;
  height: 113px;
  @include sm(height, unset);
  display: flex;
  @include flex-direction-sm(column);
  @include align-items-sm(baseline);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 14px;
  @include sm(padding-bottom, 30px);
  @include sm(padding-top, 25px);
  p.phone{
    margin: 0;
    @include sm(margin, 0 auto);
    @include sm(display, inline-block);
    @include sm(width, 185px);
    a{
      margin-top: 2px;
    }
  }
  a, p{
    //@include size(3);

    display: block;
    margin: 0 55px;
    @include sm(margin, 4px auto);
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: bold;
    color: #5591c6;
    text-decoration: none;
    margin-top: 13px;

    .fa-phone {
      transform: scaleX(-1);
      float: left;
      padding-top: 12px;
      @include sm(padding, 12px 0);
      @include sm(margin-left, 0);
      @include sm(margin-right, 0);
    }
    i{
      margin-right: 15px;
      color: #a51460;
    }
    p{
      display: inline-block;
      margin: 2px 0;
    }
  }
  .logo{
    //@include size(3);
    @include order-sm(-1);
    @include sm(margin, 0 auto 30px auto);
    margin-top: 0;
    height: 70px;
    display: inline-block;
  }
  .img{
    width: 50%;
    margin: 0 auto;
    transform: scale(-1, -1);

  }
}
.liqpay{
  background: rgba(255, 255, 255, 0.63);
  position: fixed;
  display: none;
  @include sm(position, absolute);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  //display: flex;
  opacity: 0;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  #liqpay_checkout{
    @include size(7);
    @include size-sm(12);
    margin: auto;
    position: relative;
    .close_liqpay{
      position: absolute;
      top:0;
      right: 0;
      background: #f42424;
      color: #fff;
      font-size: 16px;
      z-index: 101;
      i{
        padding: 5px;
      }
    }
  }
  &.on{
    display: flex;
    z-index: 101;
    opacity: 1;
  }
}
.modal_video{
  background: rgba(255, 255, 255, 0.63);
  position: fixed;
  //@include sm(position, absolute);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  display: flex;
  opacity: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  &.on{
    opacity: 1;
    z-index: 100;
  }
  iframe{
    margin: auto;
    width: 85vw;
    height: calc(85vw/4*3);
  }

  .close_v{
    position: absolute;
    top:10px;
    right: 25px;
    background: #f42424;
    color: #fff;
    font-size: 16px;
    z-index: 101;
    i{
      padding: 5px;
    }
  }
}
.form{
  background: rgba(255, 255, 255, 0.63);
  position: fixed;
  @include sm(position, absolute);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  display: flex;
  opacity: 0;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  &.on{
    display: flex;
    z-index: 100;
    opacity: 1;
  }
  .red{
    color: #cf3a4c;
  }
  .form_block{
    background: url("../img/bg_form.png");
    @include size(6);
    @include size-sm(12);
    margin: auto;
    padding-top: 30px;
    position: relative;
    .close{
      position: absolute;
      top:0;
      right: 0;
      background: #f42424;
      color: #fff;
      font-size: 16px;
      z-index: 101;
      i{
        padding: 5px;
      }
    }
    h1{
      font-size: 36px;
      //line-height: 72px;
      color: #fff;
      font-weight: 900;
      text-align: center;
      padding-bottom: 10px;
      @include sm(padding-bottom, 0);
    }
    form{
      @include size(10);
      font-size: 14px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #fff;
      .radio{
        width: calc(100% - 30px);
        margin-top: 16px;
      }
      label{
        width: calc(50% - 15px);
        @include size-sm(12);
        &.radioL{
          @include sm(width, calc(50% - 5px));
        }
        p{
          width: 100%;
          letter-spacing: 0.01em;
          line-height: 30px;
          @include sm(padding-top, 0);
          padding-top: 6px;
        }
        input, select, option{
          width: 100%;
          letter-spacing: 0.01em;
          color: #4c4c4c;
          border: none;
          line-height: 28px;
          padding: 0 10px;
          box-sizing: border-box;
        }
        select{
          padding: 5px;
          margin-top: 15px;
          height: 28px;
        }
        input[type="radio"]{
          display: none;
          &+.checkbox{
            border: 3px solid #fff;
            display: inline-block;
            width: 11px;
            height: 11px;
            box-sizing: border-box;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background: #fff;
            border-radius: 6px;

            margin: 14px 12px 0 0;
          }
          &:checked+.checkbox{
            background: none;
          }
        }
      }
    }
    button{
      background: #a8ba4f;
      border: none;
      margin: 35px auto;
      @include sm(margin, 15px auto);
      @include sm(padding, 10px 0);
      display: block;
      @include size(6);
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      padding: 18px 0;
    }
  }
}
.pc{
  //display: unset;
  @include sm(display, none);
}
.sm{
  display: none;
  @include sm(display, block);
}
.down_button{
  display: none;
  @include sm(display, block);
  .share, .unknown_button{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #d3801f;
    z-index: 50;
    i {
      line-height: 45px;
      text-align: center;
      margin: 0 auto;
      display: block;
      color: #fff;
      font-size: 24px;
    }
  }
  .unknown_button{
    left: 10px;
    background: #a8ba4f;
  }
  .share_list{
    position: fixed;
    bottom: 55px;
    right: 16px;
    height: 0;
    overflow: hidden;
    z-index: 50;
    transition: all 1s ease-in-out;
    a{
      text-decoration:none;
    }
    &.on{
      height: 260px;
    }
    div{
      width: 32px;
      height: 32px;
      border-radius: 30px;
      z-index: 50;
      background: #a51460;
      color: #fff;
      margin: 17px 0;
      i {
        line-height: 32px;
        text-align: center;
        margin: 0 auto;
        display: block;
        color: #fff;
        font-size: 18px;
      }
    }
  }
}